<div id="amEntete">
    <div class="profileTeaser">

        <!--teaser-->
        <div class="teaser">

            <ul class="slide" style="margin-bottom: 0;">

                <li class="parallax"
                    style="height: 339px; background-image: url(img/header.jpg); background-position: 100% 0px;">


                    <div class="caption">
                        <h1>Annuaire des musées</h1>

                    </div>
                </li>

            </ul>

        </div>
    <!--End teaser-->
</div>
</div>